body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255,244,191);
}

header {
    border-bottom: 4px solid rgb(127,116,63);
    background-color: rgb(255,233,127);
    color: rgb(102,57,23);
    display:flex;
    justify-content: space-between;
    height:160px;
}

.perm-header {
    align-items: top right;
    text-align: right;
    background-color: rgb(255,233,127);
    padding:1em;
    padding-left:0;
    margin-top:0;
    position: fixed;
    right:0;
    border-left: 4px solid rgb(127,116,63);
    border-bottom: 4px solid rgb(127,116,63);
    z-index: 1;
}

.logo{
    position:absolute;
    top:10px;
    left: -60px;
}

.title{
    padding-top:40px;
    position:relative;
    left:180px;
    font-family:'Caveat';
    font-size:xx-large;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    font-weight: 600;
    text-decoration: none;
}

.main-content {
    text-align: center;
    padding: 50px;
}

.form-section {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea,
select,
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.btn {
    display: inline-block;
    background-color: #35424a;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}