<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Medve-Botch</title>
</head>

<body>
    <header> 
        <h1>Joke Website</h1><!-- Main Title --> 
        <div>
            <!-- login/logout top right -->
            login
        </div>
        <div>
            <!-- profile top right alonside the login, with "|" in between -->
            profile
        </div>

    </header>
    <main>
        <div>
            This is the Main Area of the page <!-- This is where the sorting will be done. -->
            <div> Category</div><!-- Dropdown, will add later. -->
            <div> Sort by</div><!-- Dropdown, will add later. -->
            <div> Search </div> <!-- Search function, will add later. -->
        <div class="links">
            <!-- Links area, on the left side, inside a box. -->

        </div>


        </div>
        <div id="jokes">
            <div class="Joke"> <!-- Joke area, will be multiplied, if more jokes are added. -->
                <div class="Joke Title">
                    First Joke
                </div>
                <div class="Rating">
                    "4"
                </div>
                <div class="Joke_Text">
                    "Table"
                </div>

            </div>
        </div>

    </main>
    
</body>
</html>