<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register,login.css') }}">
</head>

<body>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <a>
        <div class="topBox">
            <div class="logoCircle">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30" class="logo" />
            </div>
        </div>
        <div class="backBox"></div>
        <h1>Welcome Back!</h1>
        <h5>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></h5>
        <form method="POST" action="{{ url_for('login') }}" class="form">
            {{ form.hidden_tag() }}
            <div>
                <input type="email" name="email" id="email" placeholder="Email">
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password">
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="home">
            <img src="{{ url_for('static', filename='img/home.svg') }}" width="20" />
            <a href="{{ url_for('home') }}">Home</a>
        </div>
        
    </a>

</body>

</html>