<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>

<header>
    <nav class="perm-header">
        <ul>
            <li><a href="{{ url_for('home') }}"><img src="{{url_for('static',filename='img/home.png')}}" alt="Home" title="Home" width="32" height="32"></a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('submit_joke') }}"><img src="{{url_for('static',filename='img/edit.png')}}" alt="Submit Joke" title="Submit Joke" width="32" height="32"></a></li>
            <li><a href="{{ url_for('profile') }}"><img src="{{url_for('static',filename='img/user.png')}}" alt="Profile" title="Profile" width="32" height="32"></a></li>
            <li><a href="{{ url_for('logout') }}"><img src="{{url_for('static',filename='img/sign-out.png')}}" alt="Log out" title="Log out" width="32" height="32"></a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}"><img src="{{url_for('static',filename='img/profile-new.png')}}" alt="Register" title="Register" width="32" height="32"></a></li>
            <li><a href="{{ url_for('login') }}"><img src="{{url_for('static',filename='img/in.png')}}" alt="Log in" title="Log in" width="32" height="32"></a></li>
            {% endif %}
            <!DOCTYPE html>
        </ul>
    </nav>
    <div class="title">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="120" height="120" class="logo" />
        </div>
        <h1>Medve-Botch</h1>
    </div>
</header>