<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medve Botch Auth</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register,login.css') }}">
</head>

<body>
    <a>
        <div class="topBox"></div>
        <div class="backBox"></div>
        <div class="logoCircle">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30" class="logo" />
        </div>
        <h1>Join us today!</h1>
        <h5>Already have an account? <a href="{{ url_for('login') }}">Sign in</a></h5>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                <input type="email" name="email" id="email" placeholder="Email">
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password">
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <div class="home">
            <img src="{{ url_for('static', filename='img/home.svg') }}" width="20" />
            <a href="{{ url_for('home') }}">Home</a>
        </div>
    </a>
</body>

</html>